*{
  margin:0;
  padding:0;
  box-sizing: border-box;   
}

.wrapper{
  display: flex;
  margin:30px 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
input{
  padding:5px;
  border:1px solid grey;
  cursor: pointer;
  width: 100%;
}
input::placeholder{
margin-left:2px;
color:green;
font-size: 15px;
}


table{
  border-spacing: 50px;
}
@media (max-width:600px) {
 table{
  border-spacing: 25px;
} 
th{
  font-size: 1rem;
}
}